<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/signup.css">
	<script src="/public/js/signup.js" defer="defer"></script>
</head>
<body>
	<header th:insert="/header"></header>
	<main class="container-fluid">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">홈</a></li>
	    <li class="breadcrumb-item" aria-current="page"><a href="/user/signup" class="breadcrumb-item active">회원가입</a></li>
	  </ol>
	</nav>
    <div id="container">
        <div id="subContainer">
            <div id="signupBox">
                <div id="signupLogo">회원가입</div>
                 <form action="/user/signup.do" name="signupForm" id="signupForm" method="post">
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="text" name="user_id" class="form-control signupInput" aria-describedby="idHelp"  minlength="4" maxlength="16" placeholder="ID 4 ~ 16자">
					  </div>
					  <div class="col-auto">
					  <span id="idHelp" class="form-text"></span>
						 <span class="valid-feedback">
						   사용 가능한 아이디입니다.
						 </span>
						 <span class="invalid-feedback">
						   이미 사용 중인 아이디입니다.
						 </span> 
						</div>
					</div>
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="password" name="user_pw" class="form-control signupInput" placeholder="비밀번호 4 ~ 16자" minlength="4" maxlength="16">
					  </div>
					  <div class="col-auto">
					  <span id="pwHelp" class="form-text"></span>
						 <span class="valid-feedback">
						   사용 가능합니다.
						 </span>
						 <span class="invalid-feedback">
						   사용 불가능합니다.
						 </span> 
						</div>
					</div>
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="password" name="pwCheck" class="form-control signupInput" placeholder="비밀번호 확인" minlength="4" maxlength="16">
					  </div>
					  <div class="col-auto">
					  <span id="pwCheckHelp" class="form-text"></span>
						 <span class="valid-feedback">
						   일치합니다.
						 </span>
						 <span class="invalid-feedback">
						   불일치합니다.
						 </span> 
						</div>
					</div>
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="email" name="user_email" class="form-control signupInput" placeholder="이메일">
					  </div>
					  <div class="col-auto">
					  <span id="emailHelp" class="form-text"></span>
						 <span class="valid-feedback">
						   사용 가능한 이메일입니다.
						 </span>
						 <span class="invalid-feedback">
						   이미 사용 중인 이메일입니다.
						 </span> 
						</div>
					</div>
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="text" name="user_phone" class="form-control signupInput" placeholder="휴대폰 번호" minlength="10" maxlength="16">
					  </div>
					  <div class="col-auto">
					  <span id="phoneHelp" class="form-text"></span>
						 <span class="valid-feedback">
						   사용 가능한 전화번호입니다.
						 </span>
						 <span class="invalid-feedback">
						   이미 사용 중인 전화번호입니다.
						 </span> 
						</div>
					</div> 
					<div class="row g-3 align-items-center">
					  <div class="col-auto signupInputBox">
					    <input type="text" name="user_adress" class="form-control signupInput" placeholder="주소">
					  </div>
					</div> 
				  <button class="btn btn-primary">가입하기</button>
				</form>
            </div>
        </div>
    </div>
    </main>
	<footer th:insert="/footer"></footer>
</body>
</html>