#path {
    display: flex;
    margin: 20px 0;
    min-width: 1200px;
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}
h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}
#category {
    margin: 40px 0;
    min-width: 1200px;
}
#table {
    display: flex;
    justify-content: center;
    margin: 20px 0 60px 0;
    min-width: 1200px;
} 
#table #tableList th, td {
    text-align: center;
    padding: 10px 25px;
}