#footer {
    background-color: #0dcaf0;
    min-width: 1200px;
}
#footer #footerTop {
    padding: 5px 10px;
    background-color: dodgerblue;
}
#footer #footerTop a {
    text-decoration: none;
    color: white;
}
#footer #footerCenter {
    font-size: 13px;
}
#footer #footerCenter ul {
    margin: 40px 0 20px 0;
    padding-left: 32px;
}
#footer #footerCenter a {
    color: dodgerblue;
}
#footer #footerBottom {
	min-width: 1200px;
}
#footer #footerBottom div {
    margin: 20px 20px 20px 32px;
}
#footer #footerBottom div a {
	font-size: 20px;
    color: dodgerblue;
}
#footer #footerBottom p {
	margin: 0;
	font-size: 13px;
}