#footer {
    background-color: skyblue;
}
#footer #footerTop {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: dodgerblue;
}
#footer #footerTop a {
    text-decoration: none;
    color: white;
}
#footer #footerCenter {
    font-size: 13px;
}
#footer #footerCenter ul {
    margin-top: 40px;
}
#footer #footerCenter li {
    list-style: none;
    margin-bottom: 5px;
}
#footer #footerCenter a {
    color: dodgerblue;
}
#footer #copyRight {
    display: flex;      
}
#footer #copyRight div {
    margin: 20px;
}
.vLine {
    width: 1px;
    background-color: #e3e3e3;
    margin: 0 15px;
}