#header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 30px;
     min-width: 1200px;
}
#header #headerLeft h1 a {
	text-decoration: none;
	color: dodgerblue;
}
#header #headerCenter #searchBox {
     width: 520px;
     height: 45px;
     box-sizing: border-box;
}
#header #headerCenter #searchBox #searchForm #searchInput {
     height: 45px;
     line-height: 45px;
     box-sizing: border-box;
     border: 1px solid dodgerblue;
}
#header #headerCenter #searchBox #searchForm button {
 	 border: 1px solid dodgerblue;
}
#header #headerCenter #searchBox #searchForm button:hover {
 	 background-color: dodgerblue;
}
#header #headerCenter #searchBox #searchForm button img {
 	 width: 28px;
 	 height: 28px;
}
#header #headerRight ol {
	margin: 8px 0;
}
#header #headerRight nav ol li a {
     text-decoration: none;
     color: black;
     vertical-align: middle;
}
#nav {
 	 padding: 0;
}
#nav #navBox {
     display: flex;
     justify-content: space-around;
     background-color: dodgerblue;
     min-width: 1200px;
}
#nav #navBox a {
     text-decoration: none;
     padding: 10px;
     color: white;
}
#nav #navBox .dropdown {
     display: inline-block;
     position: relative;
}
#nav #navBox .dropdown .dropdown-btn {
     width: 200px;
     padding: 18px;
     font-size: 18px;
     color: #fff;
     border: none;
     cursor: pointer;
     background-color: dodgerblue;
}
#nav #navBox .dropdown .dropdown-btn a {
	 text-decoration: none;
	 color: black;
}
#nav #navBox .dropdown .dropdown-submenu {
     width: 200px;
     display: none;
     position: absolute;
     z-index: 10;
}
#nav #navBox .dropdown .dropdown-submenu a {
     display: block;
     padding: 7px;
     text-align: center;
     background-color: dodgerblue;
}
#nav #navBox .dropdown .dropdown-submenu a:hover {
     background-color: #0dcaf0;
}
#nav #navBox .dropdown:hover .dropdown-submenu {
     display: block;
}
.vLine {
     width: 1px;
     background-color: #e3e3e3;
     margin: 0 15px;
}