body {
	margin: 0;
	padding: 0;
}
#subImgContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}
#subImgContainer .SubImg{
    text-align: center;
    margin-bottom: 10px;
}
#subImgContainer .SubImg img {
    width: 100px;
    height: 100px;
}
#subImgContainer h3{
    text-align: center;
    margin-bottom: 10px;
}
#subImgContainer h3 a {
    text-decoration: none;
    color: black;
}
#promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
#promotion #promotionImg {
    margin-right: 100px;
}
#promotion #promotionImg img {
    width: 500px;
    height: 300px;
}
#promotion h1, #promotion h2 {
	margin-bottom: 10px;
}
#promotion a {
    background-color: dodgerblue;
}