<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">
	<script src="/bootstrap-5.2.0-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div id="header">
        <div id="headerLeft">
            <h1>Project_3.com</h1>
        </div>
        <div id="headerCenter">
            <div id="searchBox">
                <form action="#" id="searchForm" name="searchForm" method="get">
                    <label>
                        <input type="text" name="searchInput" id="searchInput" value minlength="2" maxlength="50">
                        <input type="image" value="검색" name="searchIcon" id="searchIcon" 
                               src="https://cdn.icoda.co.kr/asset/img/usr/main/search_btn.jpg">
                    </label>
                </form>
            </div>
        </div>
        <div id="headerRight">
            <ul>
                <li><a href="#">로그인</a></li>
                <div class="vLine"></div>
                <li><a href="#">회원가입</a></li>
                <div class="vLine"></div>
                <li><a href="#">장바구니</a></li>
            </ul>
        </div>
    </div>
    <div id="nav">
        <div id="navBox">
            <a href="#">카테고리</a>
            <a href="#">노트북/데스크탑</a>
            <a href="#">주변 기기</a>
            <a href="#">조립형 PC</a>
            <a href="#">고객 센터</a>
        </div>
    </div>
</body>
</html>