<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project3.com</title>
	<link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
	<header th:insert="/header"></header>
    <div id="swiperMain">
        <div id="swiperMainImg">
            <a href="#">
              <img src="https://cdn.icoda.co.kr/asset/main/1659329913_3848_2196.jpg" alt="mainImg">
            </a>
        </div>
    </div>  
    <div id="swiperSub">
        <div>
            <div class="swiperSubImg">
                <a href="#">
                    <img src="./45-450792_laptop-png-gaming-laptop-png-lenovo-transparent-png.png" alt="image">
                </a>    
            </div>
            <h3>게이밍 노트북</h3>
            <p>
                노트북으로도 다이나믹한 속도를 즐겨보세요!
            </p>
        </div>
        <div>
            <div class="swiperSubImg">
                <a href="#">
                    <img src="./apple-logo-52C416BDDD-seeklogo.com.png" alt="image">
                </a>  
            </div>
            <h3>Apple Zone</h3>
            <p>
                애플의 다양한 제품을 만나보세요!
            </p>
        </div>
    </div>
    <div id="promotion">
        <div id="promotionImg">
           <img src="./asus.png" alt="image">
        </div>
        <div>
            <h1>Big Event</h1>
            <h2>아수스 노트북 특가전</h2>
            <p>
                <strong>최신 Intel, AMD가 탑재된</strong>
                <br>
                    아수스의 노트북을 특가로 만나보세요!
                <br> 
                    22.08.01부터 소진시
            </p>
            <div>
                <a href="#">특가 바로가기</a>
            </div>
        </div>
    </div>  
    <footer th:insert="/footer"></footer>
</body>
</html>     