<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<style>
	#box1{
		display: block;
		width: 300px;
		height: 200px;
		border: 1px solid black;
		margin: auto;
	}
	#uid,#upw{
		display: block;
		text-align: center;
		line-height: 85px;
		margin: auto;
	}
	#login{
		display: block;
		margin:auto;
		text-align:right;
		
	}
</style>
<body>
		<h1>
			로그인 페이지
		</h1>
		<hr>
		<div id="box1">
			<form action="/user/login.do" method="post">
				<div id="uid">
					<label for="inputId" class="form-label">아이디</label>
			    	<input type="text" name="user_id" class="form-control" id="inputId" >
			  	</div>
			  	<div id="upw">
			    	<label for="inputPw" class="form-label">비밀번호</label>
			    	<input type="password" name="pw" class="form-control" id="inputPw">
			  	</div>
			    <div id="login">
			  		<button type="submit" class="btn">로그인</button>
			  		<button type="submit" class="btn">취소</button>
			  	</div>
			</form>
		</div>
		
		
	</main>
</body>
</html>