<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>작성한 리뷰(수정)</title>
</head>
<style>
#pageBody{
margin: 50px 300px;
}
#statusText{
display:flex; justify-content: flex-end;
}
#reviewList{
border: 1px solid lightgrey; border-radius: 10px;
}
#buttons{
display: flex; justify-content: flex-end; margin-right: 50px;
}
#buttons>button{
margin-right: 20px;
}
#score{
width: 3em; padding: 5px;
}
#titleModify, #scoreModify, #scoreModify>span{
margin: 10px; padding: 5px;
}
#contentModify {
margin: 25px;
} 
</style>
<body>
	<div id="pageBody">
	
		<h1>작성한 리뷰 관리(수정페이지)</h1>
		<div id="statusText">
		<p> <strong>user1</strong>님, 총 <strong>1</strong>개의 리뷰를 등록하셨습니다.</p>
		</div>
		<div id="reviewList">
		<ol>
			<li>
				<input id="titleModify" type="text" value="저렴하게 잘 구매했습니다." style="font-size: 20px;">
			</li>
			<div id="scoreModify">
			<span>별점 <input id="score" type="number" step="0.5" min="0" max="5.0" value="4.5" style="font-size: 15px;"> / 5.0</span>
			<span> <strong>2022.08.16</strong> </span>
			</div>
			<div id="contentModify">
			<textarea rows="10px" cols="100px" style="font-size: 20px;"> 시중에 나와있는 가격 중에 제일 저렴하게 구매했습니다. 배송도 문제없이 잘 도착했습니다.</textarea>
			</div>
			<div id="buttons">
			<button>취소</button>
			<button>수정완료</button>
			</div>
		</ol>
		</div>
	
	</div>
</body>
</html>