<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>작성한 리뷰(목록)</title>
</head>
<style>
#pageBody{
margin: 50px 300px;
}
#statusText{
display:flex; justify-content: flex-end;
}
#reviewList{
border: 1px solid lightgrey; border-radius: 10px;
}
#buttons{
display: flex; justify-content: flex-end; margin-right: 50px;
}
#buttons>button{
margin-right: 20px;
}
</style>
<body>
	<div id="pageBody">
	
		<h1>작성한 리뷰 관리(목록)</h1>
		<div id="statusText">
		<p> <strong th:text="${review.user_id}"></strong>님, 총 <strong></strong>개의 리뷰를 등록하셨습니다.</p>
		</div>
		<div id="reviewList">
		<ol>
			<li><span th:text="${review.review_title}"></span></li>
			<div>
			<span>별점<strong th:text="${review.review_score}"></strong> / 5</span>
			<span th:text="${#dates.format(review.review_time, 'yyyy-MM-dd')}"></span>
			</div>
			<div>
			<p th:text="${review.review_content}"></p>
			</div>
			<div id="buttons">
			<button>수정</button>
			<button>삭제</button>
			</div>
		</ol>
		</div>
	
	</div>
</body>
</html>