<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>작성한 리뷰(목록)</title>
</head>
<style>
#pageBody{
margin: 50px 300px;
}
#statusText{
display:flex; justify-content: flex-end;
}
#reviewList{
border: 1px solid lightgrey; border-radius: 10px;
}
#buttons{
display: flex; justify-content: flex-end; margin-right: 50px;
}
#buttons>button{
margin-right: 20px;
}
</style>
<body>
	<div id="pageBody">
	
		<h1>작성한 리뷰 관리(목록)</h1>
		<div id="statusText">
		<p> <strong>user1</strong>님, 총 <strong>1</strong>개의 리뷰를 등록하셨습니다.</p>
		</div>
		<div id="reviewList">
		<ol>
			<li>저렴하게 잘 구매했습니다.</li>
			<div>
			<span>별점 4.5/5.0</span>
			<span>2022.08.16</span>
			</div>
			<div>
			<p>시중에 나와있는 가격 중에 제일 저렴하게 구매했습니다. 배송도 문제없이 잘 도착했습니다.</p>
			</div>
			<div id="buttons">
			<button>
			<a href="/Users/dfg07/big_data_study_220530/spring_workspace/springProject3/springProject/src/main/resources/templates/userReviewModify.html">수정</a>
			</button>
			<button>삭제</button>
			</div>
		</ol>
		</div>
	
	</div>
</body>
</html>