<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/faqList.css">
</head>
<body>
	<header th:insert="/header"></header>
	<main class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">홈</a></li>
	    <li class="breadcrumb-item"><a href="#">고객 센터</a></li>
	    <li class="breadcrumb-item" aria-current="page"><a href="#" class="breadcrumb-item active">자주 하는 질문(FAQ)</a></li>
	  </ol>
	</nav>
    <h2>자주 하는 질문(FAQ)</h2>
	<ul class="nav nav-tabs nav-fill" id="category">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">전체</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">회원</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">주문/결제</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">배송</a>
	  </li>
 		  <li class="nav-item">
	    <a class="nav-link" href="#">취소/반품/교환</a>
	  </li>  
 		  <li class="nav-item">
	    <a class="nav-link" href="#">기타</a>
	  </li> 
	</ul>
    <div id="table">
        <table id="tableList" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>카테고리</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="faq : ${faqList}">
                    <th:block th:if="${faq.faq_devision_no == 1}">
	                    <td>상품</td>                    
                    </th:block>
                    <th:block th:if="${faq.faq_devision_no == 2}">
	                    <td>주문/결제</td>                    
                    </th:block>
                    <th:block th:if="${faq.faq_devision_no == 3}">
	                    <td>배송</td>                    
                    </th:block>
                    <th:block th:if="${faq.faq_devision_no == 4}">
	                    <td>취소/환불/교환</td>                    
                    </th:block>
                    <th:block th:if="${faq.faq_devision_no == 5}">
	                    <td>회원</td>                    
                    </th:block>
                    <td th:text="${faq.faqboard_title}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center" th:insert="/paging"></div>
    <div id="searchArea">
    <form action="#" method="get" enctype="multipart/form-data">
            <select name="searchDate" id="searchDate" class="form-select form-select-sm">
                <option value="week">일주일</option>
                <option value="month">1개월</option>
                <option value="month6">6개월</option>
                <option value="all">전체</option>
            </select>
            <select name="searchKey" id="searchKey" class="form-select form-select-sm">
                <option value="subject">제목</option>
                <option value="content">내용</option>
                <option value="writerName">작성자 이름</option>
                <option value="memberId">작성자 아이디</option>
            </select>
            <input type="search" name="search" id="search" class="form-control">
            <a href="#" class="btn btn-secondary">찾기</a>
        </form>
    </div>
    </main>
    <footer th:insert="/footer"></footer>
</body>
</html>