<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/filter.css">
</head>
<body>
    <section id="filterArea">
        <article>
            <div class="filterGroup">
                <span>카테고리</span>
            </div>
            <div>
                <ul class="filterList" id="firstList">
                    <li>
                        <a href="#" class="notSelected">노트북</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>제조사</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <a href="#" class="notSelected">ASUS</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">HP</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">LG</a>
                    </li>       
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>CPU 종류</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <a href="#" class="notSelected">AMD라이젠3-4</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">AMD라이젠5-4</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">AMD라이젠7-4</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected"> AMD라이젠7-5</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">AMD라이젠9-4</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">AMD라이젠9-5</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">인텔코어i5-12</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">인텔코어i7-12</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>화면 크기</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <a href="#" class="notSelected">14인치</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">15.6인치</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">16.1인치</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">17.3인치</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>메모리 용량</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <a href="#" class="notSelected">8GB</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">16GB</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>저장 용량</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <a href="#" class="notSelected">256GB</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">512GB</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>무게</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                    	<a href="#" class="notSelected">1.12kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">1.4kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">1.48kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">1.69kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">1.75kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">1.9kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">2.29kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">2.32kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">2.46kg</a>
                    </li>
                    <li>
                        <a href="#" class="notSelected">2.9kg</a>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>가격</span>
            </div>
            <div>
                <ul class="filterList">
                    <li class="d-flex" style="align-items: center; vertical-align: middle;">
                     <span>직접 입력</span>
                     <form class="d-flex" role="search" action="#" id="priceSearchForm" name="priceSearchForm">
                        <span class="moneyInput">
                            <input class="form-control border" type="text" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" name="startMoney"><label>원</label>
                            ~
                            <input class="form-control border" type="text" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" name="endMoney"><label>원</label>
                        </span>
						<button class="btn btn-secondary" type="submit" style="padding: 0; width: 25px; height: 25px; margin-left: 10px;">
						    <img src="/public/img/pngegg.png">
						</button>
					 </form>
                    </li>
                </ul>
            </div>
        </article>
        <div class="propertyClickArea">
            <ul>
                <div>
                    선택한 속성
                    <span>|</span>
                </div>
            </ul>
            <div class="pointer cancelAll">
            	<a href="#" style="text-decoration: none; color: black;">전체 삭제</a>
            </div>
        </div>
    </section>
<script>
	const priceSearchForm = document.forms.priceSearchForm;
	priceSearchForm.addEventListener("submit", (event) => {
		if((!priceSearchForm.startMoney.value||!priceSearchForm.startMoney.value.trim()) || (!priceSearchForm.endMoney.value||!priceSearchForm.endMoney.value.trim()))
			event.preventDefault();
	});
</script>
</body>
</html>