<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/filter.css">
</head>
<body>
    <section id="filterArea">
        <article>
            <div class="filterGroup">
                <span>카테고리</span>
            </div>
            <div>
                <ul class="filterList" id="firstList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>제조사</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>제품 분류</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>용도</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>CPU 종류</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>화면 크기</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>메모리 용량</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>SSD 용량</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>HDD 용량</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>VGA 제조사</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>운영 체제</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>혜택, 이벤트, 기획전</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span class="notSelected">노트북</span>
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="filterGroup">
                <span>가격</span>
            </div>
            <div>
                <ul class="filterList">
                    <li>
                        <span>직접 입력</span>
                        <span class="moneyInput">
                            <input type="text" name="startMoney"><label>원</label>
                            ~
                            <input type="text" name="endMoney"><label>원</label>
                        </span>
                        <span class="pointer">
                            <img src="https://cdn.icoda.co.kr/asset/img/usr/product/money_search.png">
                        </span>
                    </li>
                </ul>
            </div>
        </article>
        <div class="propertyClickArea">
            <ul>
                <div>
                    선택한 속성
                    <span>|</span>
                </div>
            </ul>
            <div class="pointer cancelAll">
                전체 삭제
            </div>
        </div>
    </section>
</body>
</html>