<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 상세 페이지</title>
</head>

<body>
	<header th:insert="/header"></header>
	<main class="container">
	<div class="container">
		<h1 class="text-center mt-5 p-3" th:text="${product.prod_name}"></h1>
		<br>
			<div class="d-flex justify-content-evenly">
				<img src="/public/img/15536087_2.jpg" class="col-md-4 p-2 rounded img-thumbnail" alt="이미지부분">
				<div class="w-25">
				<p>판매가 <strong th:text="${#numbers.formatInteger(product.prod_price, 3, 'COMMA')+'원'}"></strong></p>
				<hr>
				<p>상품평</p>
				<hr>
				<p>카드혜택</p>
				<hr>
				<p>배송정보</p>
				<hr>
				<p>배송비</p>
				<hr>
					<div id="payDetail">
					<p>총 합계 금액 <strong th:text="${#numbers.formatInteger(product.prod_price, 3, 'COMMA')+'원'}"></strong></p>
						<div class="btn-group w-100 container-fluid" role="group" aria-label="Default button group">
						  <button type="button" class="btn btn-outline-dark col-6" style="border-radius: 0;">좋아요</button>
						  <button type="button" class="btn btn-outline-dark col-8" style="border-radius: 0;">장바구니</button>
						  <button type="button" class="btn btn-outline-dark col-10" style="border-radius: 0;">구매하기</button>
						</div>
					</div>
				</div>
			</div>
		<br>
		<hr>
		<ul class="nav nav-tabs nav-justified">
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="#">상세정보</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">구매후기</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Q&A</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link">배송/교환/환불</a>
		  </li>
		</ul>
		<div class="position-relative">
		<div class="collapse" id="detailImgCollapse">
			<img src="/public/img/20211027155013612_SDZGJY94.jpg" class="rounded mt-5 mx-auto d-block" alt="상세이미지">
		</div>
		<div class="row mb-3 g-3 d-flex justify-content-center">
			<button class="w-75 btn btn-outline-primary mt-5 p-3" type="button"
				data-bs-toggle="collapse" data-bs-target="#detailImgCollapse" aria-expanded="false">
				<span>상품이미지 상세보기</span>
				</button>
		</div>
		</div>
		<hr>
		<ul class="nav nav-tabs nav-justified">
		  <li class="nav-item">
		    <a class="nav-link "  href="#">상세정보</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="#">구매후기</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Q&A</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link">배송/교환/환불</a>
		  </li>
		</ul>
			<div class="d-flex justify-content-start mt-3" >
				<p class="mx-3">전체(2) | </p>
				<div>
				<input type="radio" name="categories"> 최신순
				<input type="radio" name="categories"> 평점순
				<input type="radio" name="categories"> 추천순
				</div>
			</div>
			<div>
			<table class="table">
				<thead class="table-light">
				  <tr>
				    <th>번호</th>
				    <th>별점</th>
				    <th>내용</th>
				    <th>작성자</th>
				    <th>작성일</th>
				    <th>추천</th>
				  </tr>
				</thead>
				  <tr>
				    <td>1</td>
				    <td>4.5/5.0</td>
				    <td>저렴하게 잘 구매했습니다.</td>
				    <td>user1</td>
				    <td>2022-08-16</td>
				    <td>5</td>
				  </tr>
				  <tr>
				    <td>2</td>
				    <td>3.5/5.0</td>
				    <td>배송 잘 받았습니다.</td>
				    <td>user2</td>
				    <td>2022-08-16</td>
				    <td>7</td>
				  </tr>
				</table>
			</div>
		<hr>
		<ul class="nav nav-tabs nav-justified">
		  <li class="nav-item">
		    <a class="nav-link "  href="#">상세정보</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">구매후기</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="#">Q&A</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link">배송/교환/환불</a>
		  </li>
		</ul>
			<div class="d-flex justify-content-between mt-3">
			<div>
				<span>전체(3) |</span> 
				<span>답변완료(2) |</span> 
				<span>답변대기(1)</span>
			</div>
			<div> 
				<button type="button" class="btn btn-outline-secondary btn-sm me-md-2">Q&A작성하기</button>
			</div>
			</div>
			<div id="tableStyle">
			<table class="table">
				<thead class="table-light">
				  <tr>
				    <th>문의유형</th>
				    <th>답변상태</th>
				    <th>제목</th>
				    <th>작성자</th>
				    <th>작성일</th>
				  </tr>
				</thead>
				  <tr>
				    <td>상품</td>
				    <td>답변대기</td>
				    <td>추가슬롯 문의드립니다.</td>
				    <td>user1</td>
				    <td>2022-08-15</td>
				  <tr>
				    <td>상품</td>
				    <td>답변완료</td>
				    <td>비밀글입니다.</td>
				    <td>user2</td>
				    <td>2022-08-13</td>
				  <tr>
				    <td>상품</td>
				    <td>답변완료</td>
				    <td>USB PD 문의</td>
				    <td>user3</td>
				    <td>2022-08-11</td>
				  </tr>
				</table>
			</div>
		<hr>
		<ul class="nav nav-tabs nav-justified">
		  <li class="nav-item">
		    <a class="nav-link "  href="#">상세정보</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">구매후기</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Q&A</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page">배송/교환/환불</a>
		  </li>
		</ul>
			<div class="mt-5 mb-5 w-75 mx-auto">
			<table class="table">
				<colgroup>
					<col width="15%">
				</colgroup>
		 		<tr>
				    <th class="table-light">배송</th>
				    <td>
				    	<ul>
				    	<li>결제 마감시간 전에 입금하시면 당일 발송됩니다</li>
				    	<li>도서산간지역은 2~3일 추가 소요됩니다.</li>
				    	<li>일요일, 공휴일은 배송되지 않습니다.</li>
				    	</ul>
				    </td>
				</tr>
		 		<tr>
				    <th class="table-light">교환 / 환불</th>
				    <td>
				    	<ul>
				    	<li>제품 수령 후 7일 이내에 교환/반품을 신청하실 수 있습니다.</li>
				    	<li>제품포장상태(박스, 내용물등)이 완벽해야 하며 제품 발송시 동봉해드린 영수증이 있으셔야 합니다.</li>
				    	<li>교환 및 반품에 소요되는 운송비는 고객분께서 부담하셔야 됩니다. (색상 교환, 사이즈 교환, 모델 변경 등 포함)</li>
				    	</ul>
				    </td>
				</tr>
			</table>
			</div>
	</div>
	</main>
	<footer th:insert="/footer"></footer>

</body>
</html>