<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/productNav.css">
</head>
<body>
    <nav id="productNav" class="navbar navbar-expand-lg bg-light border">
	  <div class="container-fluid">
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
	      <ul class="navbar-nav d-flex justify-content-between">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">추천순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item">
	          <a class="nav-link" href="#">판매량순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item">
	          <a class="nav-link" href="#">할인율순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item">
	          <a class="nav-link" href="#">낮은가격순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item">
	          <a class="nav-link" href="#">높은가격순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item">
	          <a class="nav-link" href="#">후기많은순</a>
	        </li>
	        <div class="vLine"></div>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            수량
	          </a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-item" href="#" data-limit="20">20개씩 보기</a></li>
	            <li><a class="dropdown-item" href="#" data-limit="40">40개씩 보기</a></li>
	            <li><a class="dropdown-item" href="#" data-limit="60">60개씩 보기</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</body>
</html>