<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/public/css/productNav.css">
</head>
<body>
    <nav id="productNav" class="navbar navbar-expand bg-light border">
	  <div class="container-fluid">
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
	      <ul class="navbar-nav d-flex justify-content-around" style="width: 100%;">
	        <li class="nav-item">
	          	<a class="nav-link" th:href="@{./1(search=${param.search}, startMoney=${param.startMoney}, endMoney=${param.endMoney}, sort=good, direct=desc)}">인기순</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" th:href="@{./1(search=${param.search}, startMoney=${param.startMoney}, endMoney=${param.endMoney}, sort=prod_name, direct=asc)}">오름차순</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" th:href="@{./1(search=${param.search}, startMoney=${param.startMoney}, endMoney=${param.endMoney}, sort=prod_name, direct=desc)}">내림차순</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" th:href="@{./1(search=${param.search}, startMoney=${param.startMoney}, endMoney=${param.endMoney}, sort=prod_price, direct=asc)}">낮은가격순</a>
	        </li>
	        <li class="nav-item">
	          	<a class="nav-link" th:href="@{./1(search=${param.search}, startMoney=${param.startMoney}, endMoney=${param.endMoney}, sort=prod_price, direct=desc)}">높은가격순</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</body>
</html>