<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" th:classappend="${(pageQnaAll.isFirst) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{page}(url=${pageQnaAll.url}, page=${pageQnaAll.firstPage})}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" th:classappend="${(pageQnaAll.isPrevious) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{page}(url=${pageQnaAll.url}, page=${pageQnaAll.previousPage})}">
        Prev
      </a>
    </li>
    <th:block th:each="n : ${#numbers.sequence(pageQnaAll.start, pageQnaAll.end)}">
	    <li class="page-item" th:classappend="${(pageQnaAll.page == n) ? 'active' : ''}">
	    	<a class="page-link" th:href="@{{url}{page}(url=${pageQnaAll.url}, page=${n})}" th:text="${n}"></a>
	    </li>  
    </th:block>
    <li class="page-item" th:classappend="${(pageQnaAll.isNext) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{page}(url=${pageQnaAll.url}, page=${pageQnaAll.nextPage})}">
        Next
      </a>
    </li>
    <li class="page-item" th:classappend="${(pageQnaAll.isLast) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{page}(url=${pageQnaAll.url}, page=${pageQnaAll.lastPage})}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</html>