<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" th:classappend="${(pageFaqAll.isFirst) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{faq_devision_no}/{page}(url=${pageFaqAll.url}, page=${pageFaqAll.firstPage}, faq_devision_no = ${faq_devision_no}, field=${param.field}, search=${param.search}, sort=${param.sort}, direct=${param.direct})}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" th:classappend="${(pageFaqAll.isPrevious) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{faq_devision_no}/{page}(url=${pageFaqAll.url}, page=${pageFaqAll.previousPage}, faq_devision_no = ${faq_devision_no}, field=${param.field}, search=${param.search}, sort=${param.sort}, direct=${param.direct})}">
        Prev
      </a>
    </li>
    <th:block th:each="n : ${#numbers.sequence(pageFaqAll.start, pageFaqAll.end)}">
	    <li class="page-item" th:classappend="${(pageFaqAll.page == n) ? 'active' : ''}">
	    	<a class="page-link" th:href="@{{url}{faq_devision_no}/{page}(url=${pageFaqAll.url}, page=${n}, faq_devision_no = ${faq_devision_no}, field=${param.field}, search=${param.search}, sort=${param.sort}, direct=${param.direct})}" th:text="${n}"></a>
	    </li>  
    </th:block>
    <li class="page-item" th:classappend="${(pageFaqAll.isNext) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{faq_devision_no}/{page}(url=${pageFaqAll.url}, page=${pageFaqAll.nextPage}, faq_devision_no = ${faq_devision_no}, field=${param.field}, search=${param.search}, sort=${param.sort}, direct=${param.direct})}">
        Next
      </a>
    </li>
    <li class="page-item" th:classappend="${(pageFaqAll.isLast) ? '' : 'disabled'}">
      <a class="page-link" th:href="@{{url}{faq_devision_no}/{page}(url=${pageFaqAll.url}, page=${pageFaqAll.lastPage}, faq_devision_no = ${faq_devision_no}, field=${param.field}, search=${param.search}, sort=${param.sort}, direct=${param.direct})}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</html>