<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제 내역</title>
</head>

<body>
	<header th:insert="/header"></header>
	<main class="container my-5" style="min-width : 1200px;">
		<h1 class="text-center">결제 내역 페이지 입니다.(배송확인)</h1>
		<table class="table my-5 text-center">
			 <thead>
			    <tr>
			      <th>입금전</th>
			      <th>배송준비중</th>
			      <th>배송중</th>
			      <th>배송완료</th>
			      <th>취소/환불/교환</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>0건</td>
			      <td>0건</td>
			      <td>1건</td>
			      <td>0건</td>
			      <td>0건</td>
			    </tr>
			  </tbody>
			</table>
		<nav class="navbar m-3">
		  <div class="container-fluid justify-content-center">
		    <form class="d-flex" role="search">
		    	<input class="form-control me-2" type="date">
		    	~
		    	<input class="form-control me-2" type="date">
		      <select class="form-control me-2" name="field" style="width: 200px">
		      	<option value="boardNo">전체상태</option>
		      	<option value="userId">입금전</option>
		      	<option value="title">배송준비중</option>
		      	<option value="contents">배송중</option>
		      	<option value="postTime">배송완료</option>
		      	<option value="postTime">취소/환불/교환</option>
		      </select>
		      <button class="btn btn-outline-primary" type="button">Search</button>
		    </form>
		  </div>
		</nav>
		<hr>
		<div id="tableContainer">
			<table class="table align-middle text-center">
				<tr>
					<th>
					주문일자 <br>
					주문번호
					</th>
					<th>상품정보</th>
					<th>수량</th>
					<th>상품구매금액</th>
					<th>주문처리상태</th>
				</tr>
				<tr>
					<td>
					2022-08-19
					<br>
					<a href="#">22020819001</a>
					</td>
					<td>ASUS 젠북 14X OLED UM5401QA-KN030</td>
					<td>1개</td>
					<td>1,299,000원</td>
					<td>배송중</td>
				</tr>
			</table>
		</div>
	</main>
	<footer th:insert="/footer"></footer>
</body>
</html>