<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제 페이지</title>
</head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/public/js/adressApi.js}" defer="defer">
</script>
<body>
	<header th:insert="/header"></header>
	<main class="container">
	<h1 class="text-center my-5">결제 페이지</h1>
	<p th:text="${ordersheet.user.user_id}"></p>
		<div id="UserInfo">
		<h2>주문 정보</h2>
		<p class="text-left mx-3">*표는 필수표시 항목입니다.</p>
		<hr>
			<div class="input-group mb-3">
			  	<span class="input-group-text col-1" id="inputGroup-sizing-default">주문자 *</span>
			  	<input type="text" th:value="${ordersheet.user.user_name}"
			 	 class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
			<div class="input-group mb-3">
			  	<span class="input-group-text col-1" id="inputGroup-sizing-default">이메일 *</span>
			  	<input type="text" th:value="${userEmailId}"
			  		class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
			  	  <input type="text" th:value="${userEmailAdr}"
			  	  	class="form-control" aria-label="Text input with dropdown button">
					  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">@직접입력</button>
					  <ul class="dropdown-menu dropdown-menu-end">
					    <li><a class="dropdown-item">@gmail.com</a></li>
					    <li><a class="dropdown-item">@naver.com</a></li>
					    <li><a class="dropdown-item">@kakao.com</a></li>
					    <li><a class="dropdown-item">@daum.net</a></li>
					  </ul>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text col-1" id="inputGroup-sizing-default">전화번호 *</span>
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">010</button>
				  <ul class="dropdown-menu dropdown-menu-end">
				    <li><a class="dropdown-item">010</a></li>
				    <li><a class="dropdown-item">02</a></li>
				    <li><a class="dropdown-item">031</a></li>
				    <li><a class="dropdown-item">032</a></li>
				  </ul>
			  <input type="text" th:value="${userPhoneMid}"
			  	class="form-control" aria-label="Username">
			  <span class="input-group-text">-</span>
			  <input type="text" th:value="${userPhoneLast}"
			  	class="form-control"aria-label="Server">
			</div>
			<form class="row g-3">
			  <div class="col-auto">
			    <label for="staticEmail2" class="visually-hidden">주소 *</label>
			    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="주소 *">
			  </div>
			  <div class="col-auto">
			    <label for="inputPassword2" class="visually-hidden">우편번호</label>
			    <input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호">
			  </div>
			  <div class="col-auto">
				<input class="btn btn-outline-dark"type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
			  </div>
			</form>
			<div class="col-5">
			<input class="form-control col-3" type="text" id="sample6_address" placeholder="주소">
			<input class="form-control col-3" type="text" id="sample6_detailAddress" placeholder="상세주소">
			<input class="form-control col-3" type="text" id="sample6_extraAddress" placeholder="참고항목">
			</div>
		</div>
		<div id="shippingAdress">
		<h2>배송지</h2>
		<hr>
			<button>최근배송지</button>
			<button>직접입력</button>
			<br>
			<form method="post">
			<input type="radio" name="shippingAdress" value="same">주문자 정보와 동일
			<input type="radio" name="shippingAdress" value="new">새로운 배송지
			</form>
			받는사람 * <input type="text"><br>
			주소 *
				<input type="text" placeholder="우편번호" size="5">
				<button>주소검색</button> <br>
				<input type="text" placeholder="기본주소"><br>
				<input type="text" placeholder="나머지주소(선택입력가능)"><br>
				전화번호 *
				<select>
				<option>010</option>
				<option>011</option>
				<option>017</option>
				<option>02</option>
				<option>031</option>
				<option>032</option>
				</select>
				<input type="tel" size="3">
				<input type="tel" size="3">
				<br>
				<select>
				<option>배송 메세지선택(선택사항)</option>
				<option>배송 전 연락바랍니다.</option>
				<option>부재시 연락바랍니다.</option>
				<option>부재시 문 앞에 놔주세요.</option>
				</select>
		</div>
		<div id="paymentMethod">
		<h2>결제수단</h2>
		<hr>
			<fieldset>
			<legend>결제 수단 선택</legend>
			<input type="radio">신용카드
			<input type="radio">계좌이체
			<input type="radio">무통장입금
			<input type="radio">가상계좌
			</fieldset>
			<input type="checkbox"> 결제수단을 다음에도 사용
		</div>
		<div id="paymentInfo">
		<h2>결제정보</h2>
		<hr>
			<p><span>주문상품</span> <strong>839,000</strong></p>
			<p><span>배송비</span> <strong>0</strong></p>
			<p><span>결제금액</span> <strong>839,000 원</strong></p> 
		</div>
	</main>
	<footer th:insert="/footer"></footer>
</body>
</html>